@media screen and (max-width: 600px) {
 
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

  }
  
  .logo {
    margin-right: 30px;
  }
  
  .menu {
    flex-grow: 1;
  }
  
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a,
  .menu .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
  }
  
  .menu a {
    color: #fff7f7;
    text-decoration: none;
  }
  
  .menu .active {
    color: #fff;
    background-color: #ff3d00;
    border-radius: 8px;
  }
body{
    background: url(resourses/bg.jpg);
    background-size: auto;
    background-position-x: center;
}
.about{
    color: white;
    text-align: center;
}
.about .active{
    color: #ff3d00;
}
.style{
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    color: #9af7e9;
    border: 3px solid #00c8ff6d;
    width: 500px;
    line-height: 22px;
    position: relative;
    left: 200px;
}
.dotamap{

    border: 3px solid #00c8ff6d;
    height: auto;
    position: absolute;
    right: 100px;
    top: 152px;
}
p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}